input {
  width: 450px;
  height: 55px;
  padding: 10px 15px;
  font-size: 30px;
  text-align: right;
  border-radius: 20px;
  border: none;
  outline: none;

  /* Gradiente de fundo simulando o stroke duplo */
  background: 
    linear-gradient(white, white) padding-box, /* Fundo */
    linear-gradient(
      to bottom,
      rgba(253, 231, 225, 0.5),
      rgba(255, 255, 255, 0.5)
    ) border-box;

  /* Remove borda default e cria espaço para gradiente */
  border: 2px solid transparent;

  /* Inner shadows */
  box-shadow:
    inset -3px -3px 7px rgba(230, 225, 225, 0.33),
    inset 3px 3px 6px rgba(196, 181, 177, 0.6);

  color: #666;
}

input::placeholder {
  color: #aaa;
}
