 nav {
  display: flex;
  justify-content: space-between; /* empurra menu e botão para extremos */
  align-items: center;
  padding: 20px 40px; /* espaçamento interno */
}

 nav ul {
  list-style: none; /* remove as bolinhas */
  display: flex; /* deixa em linha */
  gap: 40px; /* espaçamento entre os itens */
  padding: 0;
  margin: 0;
}
