.card {
    width: 350px;
    height: 340px;
    background-color: white;
    box-shadow:
        6px 6px 12px rgba(0, 0, 0, 0.15),
        inset -6px -6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.name {
    font-weight: 600;
    line-height: 116.1%;
    letter-spacing: -0.03em;
    color: black;
    text-align: center;
    font-size: 48px;
}

.story {
    font-weight: 400;
    line-height: 116.1%;
    letter-spacing: -0.03em;
    color: #666666;
    text-align: justify;
    font-size: 32px;
    padding: 0 1rem;
    margin: 0 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;     /* número de linhas antes de cortar */
    -webkit-box-orient: vertical;
    overflow: hidden;
}