.section {
    background-color: var(--mainOrange);
    margin-top: 70px;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 49.6%);
}

.title {
    margin: 0px 249px;
    color: white;
    padding-top: 45px;
}

.subtitle {
    margin: 0px 330px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 116.1%;
    letter-spacing: -0.05em;
    font-weight: 600;
    font-size: 3.4rem;
    // margin-left: 80px;
    text-align: left;
    margin-top: -15px;
    margin-bottom: 60px;
}

.cardContainer {
    padding-left: 80px;
    padding-bottom: 80px;
    display: flex;
    gap: 2rem;
    /* espaço entre os cards */
    justify-content: left;
    /* centraliza na horizontal */
    flex-wrap: wrap;
    /* quebra linha se a tela for pequena */
    margin: 0px 250px;
}